<div class="country-info-component-wrapper">

    <h1 class="page-title">Interactive World Map</h1>

    <div class="country-info-container">
        <h3 class="country-name">{{CountryInfo.name}}</h3>
        
        <h4>Country Code</h4>
        <p>{{CountryInfo.iso2Code}}</p>
        
        <h4>Capital</h4>
        <p>{{CountryInfo.capitalCity}}</p>
        
        <h4>Capital Coordinates</h4>
        <p>{{CountryInfo.latitude}} {{CountryInfo.longitude}}</p>
        
        <h4>Region</h4>
        <p>{{CountryInfo.region.value}}</p>
        
        <h4>Income Level</h4>
        <p>{{CountryInfo.incomeLevel.value}}</p>
    </div>

</div>